spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/SaiGonByDay
    username: postgres
    password: sa
    driver-class-name: org.postgresql.Driver
#  datasource:
#    url: jdbc:postgresql://instantly-settling-pika.a1.pgedge.io/tripbyday?sslmode=require
#    username: app
#    password: 5eyi2301L6d0N3ZMtBv3Xh9A
#    driver-class-name: org.postgresql.Driver
#  datasource:
#    url: jdbc:postgresql://ep-rough-band-a15zq7c8.ap-southeast-1.aws.neon.tech/tripbyday?sslmode=require
#    username: tripbyday_owner
#    password: UaoN7uglL9jF
#    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: haconghieu2003@gmail.com
    password: cjla uhwf tkik yeom
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 837678669718-282ilen1gvbcq9moahd4hb4vpbtb1jjk.apps.googleusercontent.com
            client-secret: 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
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
